affine==2.3.0
aiofiles==0.5.0
aiohttp==3.6.2
alabaster==0.7.12
appdirs==1.4.3
asciitree==0.3.3
asn1crypto==1.3.0
async-timeout==3.0.1
attrs==19.3.0
Babel==2.8.0
backcall==0.1.0
beautifulsoup4==4.9.0
bleach==3.1.4
blinker==1.4
blosc==1.9.1
bokeh==2.0.1
boto3==1.12.39
botocore==1.15.39
branca==0.3.1
brotlipy==0.7.0
cachetools==3.1.1
Cartopy==0.17.0
certifi==2020.6.20
cffi==1.14.0
cftime==1.1.1.2
chardet==3.0.4
click==7.1.1
click-plugins==1.1.1
cligj==0.5.0
cloudpickle==1.2.2
colorcet==2.0.1
configobj==5.0.6
croniter==0.3.30
cryptography==2.8
cycler==0.10.0
cytoolz==0.10.1
dask==2.14.0
dask-glm==0.2.0
dask-ml==1.2.0
datashader==0.10.0
datashape==0.5.4
decorator==4.4.2
defusedxml==0.6.0
descartes==1.1.0
distributed==2.14.0
docker==4.2.0
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.15.2
entrypoints==0.3
ESMPy==8.0.0
fastapi==0.52.0
fasteners==0.14.1
Fiona==1.8.9.post2
Flask==1.1.2
Flask-SQLAlchemy==2.4.1
fsspec==0.7.3
gcsfs==0.6.1
GDAL==2.4.3
geopandas==0.7.0
geoviews==1.8.1
google-auth==1.14.0
google-auth-oauthlib==0.4.1
graphene==1.4
graphql-core==3.1.0
graphql-relay==3.0.0
gunicorn==20.0.4
h11==0.9.0
h5netcdf==0.8.0
h5py==2.10.0
HeapDict==1.0.1
holoviews==1.13.2
httptools==0.1.1
hvplot==0.5.2
idna==2.9
imageio==2.8.0
imagesize==1.2.0
importlib-metadata==1.6.0
intake==0.5.5
intake-esm==2020.3.16.2
intake-geopandas==0.2.3
intake-stac==0.2.3
intake-xarray==0.3.1
ipykernel==5.2.0
ipyleaflet==0.12.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
jmespath==0.9.5
joblib==0.14.1
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyter-panel-proxy==0.1.0
jupyter-server-proxy==1.3.2
kiwisolver==1.2.0
llvmlite==0.31.0
locket==0.2.0
lxml==4.4.1
lz4==3.0.2
Markdown==3.2.1
MarkupSafe==1.1.1
marshmallow==3.5.0
marshmallow-oneofschema==2.0.1
matplotlib==3.2.1
MechanicalSoup==0.12.0
mercantile==1.1.3
MetPy==0.12.1
mistune==0.8.4
monotonic==1.5
more-itertools==8.2.0
msgpack==1.0.0
multidict==4.7.5
multipledispatch==0.6.0
munch==2.5.0
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.0.4
nbsite==0.6.7
netCDF4==1.5.3
networkx==2.4
notebook==6.0.3
numba==0.48.0
numcodecs==0.6.4
numpy==1.18.1
oauthlib==3.0.1
olefile==0.46
OWSLib==0.19.2
packaging==20.1
pandas==1.0.3
pandocfilters==1.4.2
panel==0.9.5
param==1.9.3
parso==0.7.0
partd==1.1.0
patsy==0.5.1
pendulum==2.1.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.1
Pint==0.11
plotly==4.6.0
pluggy==0.13.0
pooch==1.1.0
prefect==0.10.4
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.5
psutil==5.7.0
ptyprocess==0.6.0
py==1.8.1
pyarrow==0.17.1
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.20
pyct==0.4.6
pydantic==1.4
Pydap==3.2.2
pyepsg==0.4.0
Pygments==2.6.1
PyJWT==1.7.1
pykdtree==1.3.1
pyOpenSSL==19.1.0
pyorbital==1.5.0
pyparsing==2.4.7
pyproj==2.3.1
pyresample==1.15.0
pyrsistent==0.16.0
pyshp==2.1.0
PySocks==1.7.1
pyspectral==0.9.5
pytest==5.4.1
python-box==4.2.2
python-dateutil==2.7.5
python-dotenv==0.13.0
python-geotiepoints==1.1.8
python-multipart==0.0.5
python-slugify==4.0.0
pytz==2019.3
pytzdata==2019.3
pyviz-comms==0.7.4
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.0
rasterio==1.1.2
requests==2.23.0
requests-oauthlib==1.2.0
retrying==1.3.3
rio-cogeo==1.1.6
rpy2==3.3.2
rsa==4.0
Rtree==0.9.4
ruamel.yaml==0.16.6
ruamel.yaml.clib==0.2.0
s3fs==0.4.2
s3transfer==0.3.3
sat-search==0.2.2
sat-stac==0.3.3
satpy==0.21.0
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.1
selenium==3.141.0
Send2Trash==1.5.0
Shapely==1.6.4.post2
simpervisor==0.3
simplegeneric==0.8.1
six==1.14.0
snowballstemmer==2.0.0
snuggs==1.4.7
sortedcontainers==2.1.0
soupsieve==1.9.4
sparse==0.9.1
Sphinx==3.1.2
sphinx-holoviz-theme==0.1.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.16
starlette==0.13.2
statsmodels==0.11.1
supermercado==0.0.5
tabulate==0.8.7
tblib==1.6.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.2
tiledb==0.5.9
toml==0.10.0
toolz==0.10.0
tornado==5.1.1
tqdm==4.45.0
traitlets==4.3.3
traittypes==0.2.1
trollimage==1.12.0
trollsift==0.3.4
typing-extensions==3.7.4.1
tzlocal==2.1
ujson==2.0.3
Unidecode==1.1.1
urllib3==1.25.9
uvicorn==0.11.3
uvloop==0.14.0
wcwidth==0.1.9
webencodings==0.5.1
WebOb==1.8.6
websocket-client==0.57.0
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wsproto==0.13.0
xarray==0.15.1
xesmf==0.3.0
xpublish==0.0.2
yarl==1.3.0
zarr==2.4.0
zict==2.0.0
zipp==3.1.0
